{% extends 'base.html' %}
    {% block title_head %}Log in{% endblock title_head %}

    {% block header %}
        {% include 'inc/_header_without_buttons.html' %}
    {% endblock header %}

    {% block sidebar %}
        <div class="col-md-4">
            <div class="card border-success mb-3" style="width: 20rem;">
                <div class="card-body">
                    <h5 class="card-title">Log in</h5>
                    <form action="/login/" method="POST">
                        {% csrf_token %}
                        {{ form.as_p }}
                    <div class="d-inline-flex p-2">
                        <button type="submit" class="btn btn-success mx-3">
                            OK
                            <i class="bi bi-check2"></i>
                        </button>
                    </form>
                        <a href="/registration/" class="link mx-3">go to registration</a>
                    </div>
                </div>
            </div>
        </div>
    {% endblock sidebar %}