<!DOCTYPE HTML>
<html>

<head>
    <meta charset="utf-8">
    <title>Registration</title>
</head>

<body>
    <h1>Registration</h1>
    <form action="/login" method="post">
        <input required placeholder="email" name="email"></input>
        <input required placeholder="first_name" name="first_name"></input>
        <input required placeholder="last_name" name="last_name"></input>
        <input required placeholder="password" type="password" name="password"></input>
        <input required placeholder="confirm password" type="password" name="confirm_password"></input>
        <button type="submit">Registrate</button>
    </form>
    <p>After registration, an individually generated link will be sent to your specified email address.</p>
    <p>Click on it to confirm your registration on the site so that you can edit your profile and view the profiles of other users. </p>
</body>

</html>