{% extends 'base.html' %}

    {% block title_head %}
        {{ account.get_full_name }}
    {% endblock title_head %}

    {% block sidebar %}
        {% include 'inc/_about_account.html' %}
    {% endblock sidebar %}
    
    {% block postmaking %}
        {% if request.user == account %}
            {% include 'inc/_postmaking.html' %}
        {% endif %}
    {% endblock postmaking %}

{% if not request.user.is_authenticated %}
{% elif request.user == account %}
    {% for post in account.posts.all %}
        {% include 'inc/_post.html' %}
    {% endfor %}
{% elif not request.user.reg_confirmed_date %}
{% else %}
    {% for post in account.posts.all %}
        {% include 'inc/_post.html' %}
    {% endfor %}
{% endif %}

