<!DOCTYPE HTML>
<html>

<head>
    <meta charset="utf-8">
    <title>Log in</title>
</head>

<body>
    <h1>Log in</h1>
    <form action="/login" method="post">
        <input required placeholder="email" name="email"></input>
        <input required placeholder="password" type="password" name="password"></input>
        <button type="submit">Log in</button>
    </form>
    <form action="/registration" method="get">
        <button type="submit">Registration</button>
    </form>
</body>
<footer></footer>

</html>