 <div class="col-md-4">
    <div class="card mb-3">
        {% if request.user == account %}
            {% include 'inc/_avatar_operations.html' %}
        {% endif %}

        {% if not request.user.is_authenticated %}
            {% include 'inc/_stub_image.html' %}
        {% elif not account.avatar %}
            {% include 'inc/_stub_image.html' %}
        {% elif request.user == account %}
            <div class="mx-auto mt-3">
                <img src="{{ account.avatar.picture_itself.url }}" class="card-img-top" alt="" width="250" height="300">
            </div>
        {% elif not request.user.reg_confirmed_date %}
            {% include 'inc/_stub_image.html' %}
        {% else %}
            <div class="mx-auto mt-3">
                <img src="{{ account.avatar.picture_itself.url }}" class="card-img-top" alt="" width="250" height="300">
            </div>
        {% endif %}

        <div class="card-body">
            <h5 class="card-title">
                {{ account.get_full_name }}
            </h5>
            {% if edit_profile %}
                {% include 'inc/_profile_editing.html' %}
            {% else %}
                {% include 'inc/_profile_info.html' %}
            {% endif %}
        </div>
    </div>
</div>