<nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">
            <img src="/media/photos/logo.png" alt="" width="40"
                height="40" class="d-inline-block align-top">
            DJANGOGRAMM
        </a>
        <h1 class="text-white-50 bg-dark">
            {% block title %}
                {{ account.get_full_name }}
            {% endblock title %}
        </h1>
        {% block buttons %}
            {% if request.user.is_authenticated %}
                <a href="/wall/{{ request.user.slug }}/">
                My Page
                {% if request.user.avatar %}
                    <img src="{{ request.user.avatar.picture_itself.url }}" alt="" width="40"
                        height="40" class="d-inline-block align-top">
                {% endif %}
                </a>
                {% if request.user.reg_confirmed_date %}
                    <a href="/pictures/">My photos</a>
                    <a href="/comments/">My comments</a>
                    <a href="/likes/">My likes</a>
                    <a href="/accounts/">Other users</a>
                {% endif %}
            <div class="d-inline-flex p-2 justify-content-end">
                    {% if request.user.reg_confirmed_date %}
                        {% include 'inc/_edit_profile_button.html' %}
                    {% endif %}
                    {% include 'inc/_logout_button.html' %}
                {% else %}
                    {% include 'inc/_login_button.html' %}
                    {% include 'inc/_registration_button.html' %}
                {% endif %}
            </div>
        {% endblock buttons %}
    </div>
</nav>