{% block post_content %}
    <div class="card border-success mb-3">
        <div class="card-header">
            <div class="row">
                <div class="col justify-content-start">
                    Created at: {{ post.posted_time }}
                    {% if post.edited_time %}
                        <b>edited</b>
                    {% endif %}
                </div>
                <div class="col d-inline-flex justify-content-end">
                    {% if post.author == request.user %}
                        {% block post_buttons %}
                            {% include 'inc/_close_button.html' %}
                        {% endblock post_buttons %}
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="card-body">
            <p class="card-text">{{ post.text }}</p>
        </div>
        <div>
            {% for picture in post.pictures.all %}
            <div class="mx-auto mt-3">
                <img src="{{ picture.picture_itself.url }}" class="card-img-top mx-auto" alt="" >
            </div>
            {% endfor %}
        </div>
        <div class="card-footer">

        </div>
    </div>
{% endblock post_content %}

{% block post_comments %}
    {% for comment in post.comments.all %}
        {% include 'inc/_comments.html' %}
    {% endfor %}
{% endblock post_comments %}