<div class="card border-success mb-3">

    <div class="card-header">
        {% block post_header %}
            Create new post
        {% endblock post_header %}
    </div>

    <div class="card-body">
        <form action="{% block action %}/post/{% endblock action %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}

            {% block post_id %}{% endblock post_id %}
            
            {% block post_text %}
                <textarea name="text" cols="81" rows="5" placeholder="text"></textarea>
            {% endblock post_text %}
            
            <p class="card-text">
                <small class="text-muted">
                    {% block about_pictures %}
                        You can add a pictures to your post
                    {% endblock about_pictures %}
                </small>
            </p>
            <input multiple type="file" accept="image/*" name="pictures">
            {% block post_pictures %}
            
            {% endblock post_pictures %}
    </div>
    <div class="card-footer">
        <button class="btn btn-success mx-3" type="submit">
            Save Post
            <i class="bi bi-check2"></i>
        </button>
        </form>
    </div>

</div>