{% if not request.user.is_authenticated %}
    <p class="card-text">
        <small class="text-muted">
            Log in, please to see account info
        </small>
    </p>
{% elif not request.user.reg_confirmed_date %}
    <p class="card-text">
        <small class="text-muted">
            You can't see user info, posts and pictures before confirm your registration
        </small>
    </p>
{% elif request.user == account %}
    <p class="card-text">
        {{ account.bio }}
    </p>
    <p class="card-text">
        Registrated: 
        <small class="text-muted">
            {{ account.date_joined }}
        </small>
    </p>
    {% include 'inc/_edit_profile_button.html' %}
{% else %}
    <p class="card-text">
        {{ account.bio }}
    </p>
    <p class="card-text">
        Registrated: 
        <small class="text-muted">
            {{ account.date_joined }}
        </small>
    </p>
{% endif %}